.active {
  border: 2px solid;
}

.text {
  text-align: center;
  padding: 20px 0;
  text-transform: uppercase;
  font-size: 36px;
}

.buttons {
  display: flex;
}

.buttons button {
  flex: 0 0 50%;
  width: 80px;
  height: 80px;
  border: none;
  background-position: 50% 50%;
  background-size: 80px;
}

.right {
  background: url('../../images/right.jpg') no-repeat;

}

.wrong {
  background: url('../../images/wrong.jpg') no-repeat;
}

