.active {
  border: 2px solid;
}

.text {
  text-align: center;
  padding: 20px 0;
  text-transform: uppercase;
  font-size: 36px;
}

.buttons {
  display: flex;
}

.buttons button {
  flex: 0 0 50%;
  width: 80px;
  height: 80px;
  border: none;
  outline: none;
  background-position: 50% 50%;
  background-size: 80px;
  cursor: pointer;
}

button:focus {
  outline: 0;
}

.right {
  background: url('../../images/right.jpg') no-repeat;

}

.wrong {
  background: url('../../images/wrong.jpg') no-repeat;
}


.history .buttons button {
  background-size: 35px;
  width: 40px;
  height: 40px;
}

button .active {
  opacity: 1;
}

.false-ly .word {
  background-color: palevioletred;
}

.history .true-ly .word {
  background-color: palevioletred;
}
