app-timer {
  display: inline-block;
}
.start-btn {
  display: block;
  margin: 20px auto;
  padding: 20px;
  font-size: 30px;
}

.history, .word {
  margin: 0 auto;
}

.history .results {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  max-width: 100%;
}

label {
  display: block
}

.settings-zone ul {
  list-style: none;
  padding: 0;
}

.game-over {
  padding: 30px 0;
  font-size: 30px;
  font-weight: bold;
  display: block;
}

.score {
  font-size: 22px;
  padding: 5px;
}
